{% extends "base.html" %}
{% load i18n static %}
{% block title %}
	{% trans "Password change" %}
{% endblock title %}
{% block userlinks %}
		{% if request.user.is_authenticated %}
			{% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>. / 
			{% trans 'Change password' %} / 
			<a href="{% url "logout" %}">Logout</a>
		{% else %}
			<a href="{% url "login" %}">Log-in</a>
		{% endif %}
	{% endblock userlinks %}
{% block content %}
	<h1>{% trans "Password change" %}</h1>
	<p>Use the form below to change your password.</p>
	<form action="." method="post">
		{{ form.as_p }}
		<p><input type="submit" value="Cambiar"></p>
		{% csrf_token %}
	</form>
{% endblock content %}